body{
    background-image:url(fundo.jpeg) ;    
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    text-decoration: none;
    text-decoration-color: chartreuse;
    text-size-adjust: 500vh;
    font-size: 200%;
    }